version: '3.2'

services:

  jenkins:
    image: registry.service.lidop.local:5000/lidop/jenkins:{{ docker_image_version }}
    ports:
      - target: 8080
        published: 8080
        protocol: tcp
        mode: host
      - target: 50000
        published: 50000
        protocol: tcp
        mode: host
    environment:
      - SERVICE_8080_NAME=jenkins
      - SERVICE_50000_NAME=slave-jenkins
      - JENKINS_OPTS="--prefix=/jenkins"
    volumes: 
      - /var/lidop/certs:/certs 
      - /var/lidop/jenkins:/var/jenkins_home 
    dns:
      - {{ ipaddress }}
    user: 1111:1111
    deploy:
      placement:
        constraints: [node.role == manager]
      restart_policy:
        condition: any
