version: '3.2'

services:

  openldapdb:
    image: osixia/openldap
    ports:
      - target: 389
        published: 389
        protocol: tcp
        mode: host
    environment: 
      - LDAP_ORGANISATION=lidop
      - LDAP_DOMAIN=lidop.local
      - LDAP_ADMIN_PASSWORD={{ secret_password }}
      - SERVICE_389_NAME=ldap
    volumes:
      -  /var/lidop/openldap/config/:/container/service/slapd/assets/config/bootstrap/ldif/custom
      -  /var/lidop/openldap/ldap/:/var/lib/ldap
      -  /var/lidop/openldap/slapd.d/:/etc/ldap/slapd.d
    command: --copy-service --loglevel debug
    dns:
      - {{ ipaddress }}
    deploy:
      restart_policy:
        condition: any

  openldapui:
    image: osixia/phpldapadmin
    environment: 
      - PHPLDAPADMIN_LDAP_HOSTS=ldap.service.lidop.local
      - PHPLDAPADMIN_HTTPS=false
      # - PHPLDAPADMIN_SERVER_PATH=ldap
      - PHPLDAPADMIN_TRUST_PROXY_SSL=true
    ports:
      - "8090:80"
    dns:
      - {{ ipaddress }}
    deploy:
      restart_policy:
        condition: any

  user:
    image: tiredofit/self-service-password:latest
    environment: 
      - LDAP_SERVER=ldap://ldap.service.lidop.local
      - LDAP_STARTTLS=false
      - LDAP_BINDDN=cn=admin,dc=lidop,dc=local
      - LDAP_BINDPASS={{ secret_password }}
      - LDAP_BASE_SEARCH=ou=users,dc=lidop,dc=local
      - LDAP_LOGIN_ATTRIBUTE=uid
      - LDAP_FULLNAME_ATTRIBUTE=cn
      - SECRETEKEY=secretkey
      - IS_BEHIND_PROXY=TRUE
    ports:
      - "9002:80"
    dns:
      - {{ ipaddress }}
    deploy:
      restart_policy:
        condition: any
