version: '3.2'

services:

  postgres:
    image: postgres:10.5-alpine
    ports:
      - target: 5432
        published: 5432
        protocol: tcp
        mode: host
    volumes:
      - "/var/lidop/postgresql/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh"
      - "/var/lidop/postgres/data:/var/lib/postgresql/data"
    environment:
      POSTGRES_USER: {{ root_user }}
      POSTGRES_PASSWORD: {{ secret_password }}
      SERVICE_NAME: db
    dns:
      - {{ ipaddress }}
    deploy:
      placement:
        constraints: [node.role == manager]
      restart_policy:
        condition: any

  adminer:
    image: adminer
    environment:
      - SERVICE_NAME=db-admin
    ports:
      - 8082:8080
    dns:
      - {{ ipaddress }}
    user: 1111:1111
    deploy:
      restart_policy:
        condition: any
