#user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    #gzip  on;

    ldap_server ldapserver {
        url ldap://ldap.service.lidop.local/dc=lidop,dc=local?uid?sub;
        binddn "cn=admin,dc=lidop,dc=local";
        binddn_passwd "{{ secret_password }}";
        group_attribute memberUid;
        require group 'cn=admins,ou=groups,dc=lidop,dc=local';
        require valid_user;
        satisfy all;
    }

    include /etc/nginx/conf.d/*.conf;
}