#user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    #gzip  on;

    ldap_server ldapserver {
        url "ldap://{{ ldap_server }}/{{ ldap_base_dn }}?{{ ldap_username_attribute }}?sub";
        binddn "{{ ldap_bind_dn }}";
        binddn_passwd "{{ ldap_bind_password }}";
        group_attribute "{{ ldap_group_search_attribute }}";
        require group "{{ ldap_lidop_admin_group_query }}";
        require valid_user;
        satisfy all;
    }

    include /etc/nginx/conf.d/*.conf;
}