---

- name: Init
  block:

  - name: Create folder /var/lidop
    file:
      state: "{{ item }}"
      path: "/var/lidop/"
      owner: "{{ root_user }}"
      group: "{{ root_user }}"
      mode: '0775'
    with_items:
      - directory

  - name: Enable mout for /var/lidop
    lineinfile:
      create: yes
      state: present
      dest: /etc/exports
      regexp: '^/var/lidop'
      line: /var/lidop  *(rw,async,no_subtree_check,no_root_squash)
    when: node == "master"

  - name: restart nfs service
    shell: >
      systemctl restart nfs-kernel-server
    when: node == "master"

  - name: "mount /var/lidop from {{ swarm_manager_ip }}"
    shell: >
      mount {{ swarm_manager_ip }}:/var/lidop /var/lidop
    when: node == "worker"

  tags: mount