
{
  "datacenter": "dc1",
  "domain": "lidop.local",
  "log_level": "INFO",
  "retry_join" : [
    "{{ ipaddress }}"
  ],
  "recursors" : [ "{{ dns_recursor }}" ],
  "ports" : {
    "dns" : 53
  },
  "server" : false,
  "ui" : false,
  "primary_datacenter": "dc1",
  "acl": {
    "enabled": true,
    "tokens": {
      "master": "{{ secret_password }}"
    },
    "default_policy": "deny",
    "down_policy": "extend-cache"
  },
  "http_config": {
    "response_headers": {
      "Access-Control-Allow-Origin": "*"
    }
  }
}