
{
  "datacenter": "dc1",
  "domain": "lidop.local",
  "log_level": "INFO",
  "retry_join" : [
    "{{ ipaddress }}"
  ],
  "recursors" : [ "8.8.8.8" ],
  "ports" : {
    "dns" : 53
  },
  "server" : false,
  "ui" : false,
  "acl_datacenter": "dc1",
  "acl_master_token": "{{ secret_password }}",
  "acl_default_policy": "allow",
  "acl_down_policy": "extend-cache",
  "http_config": {
    "response_headers": {
      "Access-Control-Allow-Origin": "*"
    }
  }
}