<?xml version='1.0' encoding='UTF-8'?>
<slave>
<temporaryOfflineCause class="hudson.slaves.OfflineCause$UserCause">
    <timestamp>1555160765523</timestamp>
    <description>
      <holder>
        <owner>hudson.slaves.Messages</owner>
      </holder>
      <key>SlaveComputer.DisconnectedBy</key>
      <args>
        <string>lidop</string>
        <string> : use instead the docker nodes default or docker</string>
      </args>
    </description>
    <userId>lidop</userId>
  </temporaryOfflineCause>
  <name>host</name>
  <description></description>
  <remoteFS>/tmp</remoteFS>
  <numExecutors>4</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.25.1">
    <host>{{ ipaddress }}</host>
    <port>22</port>
    <credentialsId>lidop</credentialsId>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>30</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
  </launcher>
  <label></label>
  <nodeProperties/>
</slave>