
{
  "datacenter": "dc1",
  "domain": "lidop.local",
  "log_level": "INFO",
  "node_name": "Master",
  "bind_addr" : "{{ ipaddress }}",
  "advertise_addr" : "{{ ipaddress }}",
  "client_addr" : "{{ ipaddress }}",
  "recursors" : [ "{{ dns_recursor }}" ],
  "ports" : {
    "dns" : 53
  },
  "server" : true,
  "bootstrap_expect": 1,
  "ui" : true,
  "primary_datacenter": "dc1",
  "acl": {
    "enabled": true,
    "tokens": {
      "master": "{{ secret_password }}"
    },
    "default_policy": "allow",
    "down_policy": "extend-cache"
  },
  "http_config": {
    "response_headers": {
      "Access-Control-Allow-Origin": "*"
    }
  }  
}