
{
  "datacenter": "dc1",
  "domain": "lidop.local",
  "log_level": "INFO",
  "node_name": "LiDOP.Master",
  "bind_addr" : "{{ ipaddress }}",
  "advertise_addr" : "{{ ipaddress }}",
  "client_addr" : "{{ ipaddress }}",
  "recursors" : [ "8.8.8.8" ],
  "ports" : {
    "dns" : 53
  },
  "server" : true,
  "bootstrap_expect": 1,
  "ui" : true,
  "acl_datacenter": "dc1",
  "acl_master_token": "{{ secret_password }}",
  "acl_default_policy": "allow",
  "acl_down_policy": "extend-cache",
  "http_config": {
    "response_headers": {
      "Access-Control-Allow-Origin": "*"
    }
  }  
}