oidc_authentication=false
gravatar=false
ldap.bind_password={{ secret_password }}
base_url={{ gitbucket_base_url }}
notification=false
ldap.baseDN=dc\=lidop,dc\=local
useSMTP=false
skinName=skin-blue
is_create_repository_option_public=true
ldap_authentication=true
ssh=false
ldap.username_attribute=uid
allow_account_registration=false
ldap.host=ldap.service.lidop.local
ldap.bindDN=cn\=admin,dc\=lidop,dc\=local
allow_anonymous_access=true
ldap.fullname_attribute=givenName
ldap.port=389