version: '3.2'

services:

  kibana:
    image: docker.elastic.co/kibana/kibana-oss:6.2.4
    ports:
      - target: 5601
        published: 8087
        protocol: tcp
        mode: host
    environment:
      - SERVICE_NAME=kibana
    volumes:
      - /var/lidop/elk/kibana/kibana.yml:/usr/share/kibana/config/kibana.yml
    dns:
      - {{ ipaddress }}
    deploy:
      restart_policy:
        condition: on-failure

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.2.4
    environment:
      - SERVICE_9200_NAME=elasticsearch
    ports:
      - target: 9200
        published: 9200
        protocol: tcp
        mode: host
      - target: 9300
        published: 9300
        protocol: tcp
        mode: host
    volumes:
      - /var/lidop/elk/elasticsearch:/usr/share/elasticsearch/data
    dns:
      - {{ ipaddress }}
    deploy:
      restart_policy:
        condition: on-failure

  logstash:
    image: docker.elastic.co/logstash/logstash-oss:6.2.4
    volumes:
      - /var/lidop/elk/logstash/:/config-dir
    dns:
      - {{ ipaddress }}
    command: logstash -f /config-dir/logstash.conf
    deploy:
      mode: global
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 20
        window: 600s

  metricbeat:
    image: docker.elastic.co/beats/metricbeat:6.2.4
    user: root
    volumes:
      - /var/lidop/elk/metricbeat/metricbeat.yml:/usr/share/metricbeat/metricbeat.yml:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /proc:/hostfs/proc:ro
      - /sys/fs/cgroup:/hostfs/sys/fs/cgroup:ro
    dns:
      - {{ ipaddress }}
    deploy:
      mode: global
      restart_policy:
        condition: any
        delay: 30s
        max_attempts: 20
        window: 600s
