version: '3'

services:
  
  nexus:
    image: sonatype/nexus3:latest
    restart: always
    ports:
      - "8085:8081"
    volumes:
      - /var/lidop/nexus/:/nexus-data/
    deploy:
      mode: replicated
      replicas: 1
    dns:
      - {{ ipaddress }}
