<?xml version='1.1' encoding='UTF-8'?>
<hudson.plugins.sonar.SonarGlobalConfiguration plugin="sonar@2.8">
  <installations>
    <hudson.plugins.sonar.SonarInstallation>
      <name>Sonarqube</name>
      <serverUrl> http://sonarqube.service.lidop.local:8084/sonarqube</serverUrl>
      <serverAuthenticationToken></serverAuthenticationToken>
      <mojoVersion></mojoVersion>
      <additionalProperties></additionalProperties>
      <additionalAnalysisProperties></additionalAnalysisProperties>
      <triggers>
        <skipScmCause>false</skipScmCause>
        <skipUpstreamCause>false</skipUpstreamCause>
        <envVar></envVar>
      </triggers>
    </hudson.plugins.sonar.SonarInstallation>
  </installations>
  <buildWrapperEnabled>false</buildWrapperEnabled>
  <dataMigrated>true</dataMigrated>
</hudson.plugins.sonar.SonarGlobalConfiguration>