<?xml version='1.1' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>Adresse nicht konfiguriert &lt;nobody@nowhere&gt;</adminAddress>
  <jenkinsUrl>{{ jenkins_base_url }}</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>